@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    margin: auto;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
    background: white;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    margin-left: 130px;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.logo{
    margin-left: 20px;
    cursor: pointer;
}

.logo span{
    font-size: 30px;
}

.fa-rainbow{
    font-size: 30px;
    color: coral;
}

.navbar .menu{
    background-color: white;
}

.navbar .menu li a{ 
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: red;
}

.navbar .menu li a:hover{
    color: rgb(173, 171, 171);
    transition: all 0.5s ease;
}

.navbar .menu .sub-more{
    display: none;
}

.navbar .menu li:hover .sub-more{
    display: block;
    position: absolute;
    margin-top: 2px;
    margin-left: -25px;
    transition: all 0.7s ease-in;
    background: white;
}

.navbar .menu li:hover .sub-more ul{
    display: table-caption;
    margin: 10px;
}

.navbar .menu li:hover .sub-more ul li{
    width: 150px;
    padding: 10px;
    text-align: left;
}

.fa-angle-down{
    padding-left: 2px;
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-left: 121px;
    cursor: pointer;
}

.images img{
    width: 270px;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 8px;
    margin-top: 13px;
    margin-right: 13px;
}

.line{
    width: 33px;
    background-color: red;
    height: 4px;
    margin: 5px 3px;
}

/* Home Section CSS  */

.home{
    padding-top: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.home .left-container{
    width: 50%;
}

.home .left-container .head{
    font-size: 65px;
    font-weight: 700;
    padding-left: 220px;
    font-family: 'Roboto', sans-serif;
}

.home .left-container .para{
    padding: 9px 0 25px;
    padding-left: 223px;
    font-family: 'Roboto', sans-serif;
}

.home .right-container{
    width: 50%;
    margin-left: 3%;
}

.home .right-container img{
    width: 61%;
    border-radius: 131rem;
}

.home .left-container .btn{
    margin: 0 220px 0;
    font-size: 18px;
    padding: 9px 22px 8px;
    border: 1px solid rgb(190, 21, 190);
    background: rgb(190, 21, 190);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.home .left-container .btn:hover{
    background: rgb(197, 81, 197);
    border: none;
    padding: 10px 23px 9px;
}

/* Blog Section CSS  */

.blog{
    margin: 150px 0 30px;
    cursor: default;
}

.blog .blog-container{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    padding-left: 143px;
}

.blog .blog-content{
    padding: 65px 215px 30px;
}

.blog .blog-images{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.blog .blog-images .img img{
    width: 85%;
    border-radius: 6px;
    padding-right: 10px;
}

.blog .blog-images .project-title{
    padding-top: 10px;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}

.blog .blog-images .project{
    padding-top: 4px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}

/* key section css  */

.key-section .discover{
    font-size: 50px;
    margin: 10px 144px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    cursor: default;
}

.key-section .serv-content{
    display: flex;
    align-items: initial;
    justify-content: center;
    margin-left: 202px;
}

.key-section .serv-content .card{
    width: calc(33% - 20px);
    background: rgba(247, 245, 245, 0.302);
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 10px 15px -6px #000;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-top: 10px;
    cursor: pointer;
    margin-right: 141px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.key-section .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.key-section .serv-content .card .fa-chart-bar{
    font-size: 28px;
    color: #ff4700;
}

.key-section .box-detail{
    display: flex;
    align-items: center;
    margin-top: 60px;
    background-color: rgb(197, 81, 197);
    border-radius: 10px;
    margin-left: 144px;
    margin-right: 131px;
    margin-bottom: 100px;
}

.key-section .box-detail .wave{
    position: absolute;
    padding-top: 101px;
    padding-right: 7px;
    margin-right: 276px;
    border-radius: 12px;
    opacity: 0.1;
}

.key-section .box-detail .email-icon{
    width: 45%;
}

.key-section .box-detail .email-icon img{
    width: 178%;
    padding-left: 75px;
}

.key-section .box-detail .box-text{
    width: 221%;
}

.key-section .box-detail .join{
    text-align: initial;
    font-size: 57px;
    padding: 0px 96px 0;
    margin-left: 142px;
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
    padding-left: 0px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    margin-left: -51px;
}

#search {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    width: 20%;
}

#submit {
    font-size: 17px;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    background-color: #151313;
    color: white;
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 180px 20px 0;
    text-align: center;
}

/* Footer Section  */

footer{
    display: flex;
    background: #111;
    padding: 20px 23px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.footer .download{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-left: 64px;
}

.footer .foot{
    font-family: 'Montserrat', sans-serif;
    padding-left: 55px;
    font-size: 14px;
}

.footer .feature{
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 64px;
}

.footer .copyright{
    padding-left: 117px;
    padding-bottom: 30px;
    font-size: 14px;
}

.footer .icon{
    padding-left: 118px;
    padding-top: 50px;
}

.app-download .get{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-left: 300px;
    padding-top: 55px;
}

.app-download img{
    width: 120px;
    margin-left: 283px;
    margin-top: 25px;
}
















@media (max-width: 1170px){

    .navbar .menu{
        flex-direction: column;
        position: fixed;
        background: black;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        text-align: center;
        padding: 200px;
    }

    .max-width{
        flex-direction: column;
        transition: all 0.7s ease-out;
    }

    .logo{
        margin-left: 0;
        padding-left: 0;
        margin-right: 144px;
    }

    .logo span{
        font-size: 50px;
    }

    .logo .fa-rainbow{
        font-size: 50px;
    }

    .menu li {
        padding: 40px;
    }

    .navbar .menu li a {
        font-size: 25px;
        color: white;
    }

    .navbar .menu li:hover .sub-more {
        background: black;
        color: white;
        padding-top: 5px;
    }

    .navbar .menu li:hover .sub-more ul li{
        padding-top: 15px;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 104px;
    }

    .v-class-resp{
        opacity: 0;
    }

    .images{
        display: none;
    }

    .home{
        display: flex;
        background: url(./images/img-1.jpg) no-repeat center;
        background-size: cover;
        background-blend-mode: darken;
        height: 200vh;
    }

    .home .left-container{
        width: 100%;
        margin-top: -400px;
    }

    .home .left-container .head{
        padding-left: 91px;
        font-size: 65px;
    }

    .home .left-container .para{
        padding: 34px 100px 77px;
        font-size: 20px;
    }

    .home .left-container .btn{
        font-size: 23px;
        padding: 11px 25px 10px;
    }

    .home .left-container .btn:hover{
        background: rgb(197, 81, 197);
        border: none;
        padding: 12px 26px 10px;
    }

    .right-container{
        display: none;
    }

    .blog .blog-container{
        font-size: 85px;
    }
    
    .blog .blog-content{
        padding: 0;
        padding-top: 140px;
        padding-left: 90px;
    }

    .blog .blog-images{
        display: block;
    }

    .blog .blog-images .img img{
        width: 152%;
    }

    .blog .blog-images .project{
        padding-bottom: 35px;
        font-size: 28px;
    }

    .blog .blog-images .project-title{
        font-size: 35px;
    }

    .key-section .discover{
        margin-left: 148px;
        text-align: center;
        font-size: 64px;
    }

    .key-section .serv-content{
        display: block;
        margin-left: 194px;
    }

    .key-section .serv-content .card {
        padding-right: 215px;
        padding-bottom: 70px;
        padding-left: 40px;
        padding-top: 10px;
        margin-left: -40px;
    }
    
    .key-section .box-detail {
        display: inline-flex;
        align-items: center;
        padding-right: 64px;
        margin-left: 110px;
        margin-right: 0;
    }

    .key-section .box-detail .email-icon img{
        width: 371%;
        padding-left: 86px;
    }

    .key-section .box-detail .join{
        text-align: inherit;
        padding: 0;
        margin-left: 47px;
        padding-top: 60px;
    }

    .form{
        margin-top: 22px;
        margin-bottom: 50px;
        padding-bottom: 0px;
        margin-left: -25px;
    }

    #search {
        width: 44%;
    }

    #submit {
        padding-left: 12px;
        padding-right: 10px;
    }

    footer {
        width: 160%;
        display: grid;
    }

    .footer .icon {
        padding-left: 45px;
        padding-top: 50px;
    }

    .footer .download {
        padding-top: 30px;
        padding-left: 0;
    }

    .footer .foot {
        padding-left: 15px;
        font-size: 10px;
    }

    .footer .feature {
        padding-left: 0px;
    }

    .footer .copyright {
        padding-left: 16px;
        padding-bottom: 30px;
        font-size: 11px;
    }

    .app-download .get {
        font-size: 14px;
        padding-left: 125px;
        padding-top: 45px;
    }

    .app-download img {
        width: 120px;
        margin-left: 111px;
        margin-top: 25px;
        margin-bottom: 20px;
    }



    
}

@media (max-width: 580px){
    .home{
        margin-right: -210px;
    }
}









